<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns:context="https://www.springframework.org/schema/context"
 xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd">
 
 <bean class="springcore.assignment.q1.Address" name="addressref" >
 <property name="street" value="M.G Road" />
 <property name="city" value="Pune" />
 <property name="state" value="Maharashtra" />
 <property name="zip" value="416232" />
 <property name="country" value="India" />
 </bean>
 
 <bean class="springcore.assignment.q1.Customer" name="customerref" >
 <property name="customerId" value="1001" />
 <property name="customerName" value="Nikita" />
 <property name="customerContact" value="1234567890" />
 <property name="ob" >
 	<ref bean="addressref" />
 </property>
 </bean>
 
 </beans>
 